.grid-container{
  /* background-color: aquamarine; */
  width:100%;
  height: fit-content;
  display: grid;
  grid-template-columns: auto auto auto;
  /* background-color: #2196F3; */
  padding: 10px;
  justify-content: center;
}

.grid-item {
  /* background-color: rgba(175, 77, 77, 0.8); */
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  font-size: 30px;
  text-align: center;
  border-radius: 5%;
  margin: 10px;
}

.card-img-top{

width: 300px;
height: 300px;
border-radius: 20%;

}

.card-body{

  width: 300px;
  height: fit-content;
  /* background-color: aquamarine; */

}

