
.log_body{


width: 100%;
height: 100vh;
padding: 0%;
margin: 0%;
display: flex;
justify-content: center;
align-items: center;
background-color: black;
flex-wrap: wrap;

}
.log_data{

    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40%;
    height: fit-content;
    flex-wrap: wrap;
    color: aliceblue;
}
.log_data img{

width:50%

}
.log_data button{

    width: 100px;
    height: 50px;
    font-size: 30px;
    font-family:fantasy ;
    color: #fffefe;
    background-color: black;
    box-shadow: none;
    border-color: black;
}
.bt:hover{
color: #068FFF;
border-radius: 50%;
transition: 5s cubic-bezier(0.075, 0.82, 0.165, 1);
}